body{
    background-color: cadetblue;
}

#profileimg{
    display: flex;
    height: 80%;
    background-image: url('nikhil.jpg');
    background-size: contain;
    width: 60%;
}

.imageoverlay{
    display: flex;
}

.typewriter h1{
    font-size: 100;
    text-align: center;
    width: fit-content;
    background-color: #F0f000;
}

.typewriter{
    display: inline-block;
    align-self: flex-end;
    object-fit: contain;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {   
    from { width: 0% }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  